recursive-include genomics_data_index/test/integration/data *
recursive-include genomics_data_index/pipelines/snakemake/ *
recursive-include genomics_data_index/storage/io/mutation/templates/ *
include README.md
include CHANGELOG.md
include MANIFEST.in
include LICENSE
include pytest.ini
include pyproject.toml
include setup.py
